* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #111;
  color: white;
  font-size: 25px;
}

h1 {
  color: yellow;
  font-size: 60px;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  /* background-color: rgb(red, green, blue); */
}

input {
  padding: 10px 30px;
  font-size: 25px;
}

.btn,
.add {
  display: block;
  padding: 10px 30px;
  cursor: pointer;
  margin: 20px;
  font-size: 30px;
}

.color-blue {
  background-color: white;
  color: blue;
  padding: 10px 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
}

.d1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border: 1px solid #fff;
}

.d2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
}

.d3 {
  width: 120px;
  height: 120px;
  border: 1px solid #fff;
}

.nav {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link {
  color: #fff;
  text-decoration: none;
  font-style: 35px;
}

.k1 {
  background-color: red;
}

.dialog {
  padding: 2rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
